name: Run tests on any Push or Pull request event

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]


jobs:
  run_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
          architecture: 'x64'

      - name: Install requirements
        run: pip install -r requirements.txt
        
      - name: Run tests
        run: python -m pytest tests/
        
      - name: Tests report
        run: coverage report
